name: stockbotTOM

on:
  schedule:
    # 毎日 8:00 JST
    - cron: "0 23 * * *"
    # 毎日 11:40 JST
    - cron: "40 2 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          WORKER_URL: ${{ secrets.WORKER_URL }}
        run: python main.py